.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: black;
  font-weight: 900;
  font-size: 40px;
  padding-top: 25px;
}
App.h2 {
  font-size: 35px;
}
body {
  max-width: 600px;
  margin: 0 auto;
}
.card {
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  border-radius: 20px;
}
